#**
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
 *#

#macro (header $root $style)
digraph "$root.toNodeString()" {
    graph [ ranksep=1.5; nodesep=0.2; $style.defaultGraphFormat ]
    node [ shape="none"; margin=0; $style.defaultNodeFormat ]
    edge [ $style.defaultEdgeFormat ]
#end

#macro (footer $root $style)
}
#end

#**
 * This does NOT include $style since that is usually node-specific
 * and needs to be 'baked into' the node itself, for now.
 *#
#macro (showSimpleDependency $dependency)
#set ($artifact = $dependency.artifact)
    "$dependency.alias" [ $dependency.nodeFormat label = <
        <table>
            <tr><td>$artifact.groupId</td></tr>
            <tr><td>$artifact.artifactId</td></tr>
            <tr><td>$artifact.version</td></tr>
    #if ($dependency.showType)
            <tr><td>$artifact.type</td></tr>
    #end
    #if ($dependency.showClassifier)
            <tr><td><b>$artifact.classifier</b></td></tr>
    #end
        </table>
    >]

#end

#**
 * This does NOT include $style since that is usually node-specific
 * and needs to be 'baked into' the node itself, for now.
 *#
#macro (showSimpleEdge $parent $child)
    "$parent.alias" -> "$child.alias" [ $child.edgeFormat ];
#end