#**
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*#

#**
This template produces the dependency tree post 3.8.2
*#

#**
 * TODO - add ability to have string between nodes and edges (tgf))
 *#
#header($root $style)
#if ($nestedFormat)
    #walkTree($root)
#end
#if (!$nestedFormat)
    #walkTreeForNodes($root)

    #walkTreeForEdges($root)
#end
#footer($root $style)

#**
 * All recursion is handled by the macro - this is because the
 * children are often delimited in some manner.
 *#
#macro(walkTree $parent)
    #showNestingDependencies($root)
#end

#**
 * Recursive macro that shows the artifacts
 * Note: spacing is handled by the macros
 *#
#macro(walkTreeForNodes $parent)
    #showSimpleDependency($parent)
#foreach ($child in $parent.children)
    #walkTreeForNodes($child)
#end
#end

#**
 * Recursive macro that shows the dependencies
 * Note: spacing is handled by the macros
 *#
#macro(walkTreeForEdges $parent)
    #foreach ($child in $parent.children)
        #showSimpleEdge($parent, $child)
        #walkTreeForEdges($child)
    #end
#end