#**
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
 *#

#**
 * IMPORTANT - this template does not check for either colons (":") or
 * newlines ("\n") in the values. Either will cause malformed YAML output.
 *#

#macro (header $root $style)
---
'$root.toNodeString':
#end

#macro (footer $root $style) #end

#macro (showNestingDependencies $dependency)
#indent
  #showFlatContent($dependency)
#if (!$dependency.children.empty)
  children:
    #indent
    #showChildDependencies($dependency)
    #end
#end
#end
#end

#macro (showChildDependencies $parent)
  #foreach ($child in $parent.children)
    #showNestingDependencies($child)
  #end
#end

#macro (showFlatContent $dependency)
#set ($artifact = $dependency.artifact)
- groupId: $artifact.groupId
  artifactId: $artifact.artifactId
  version: $artifact.version
  type: $artifact.type
  scope: $!artifact.scope
  classifier: $!artifact.classifier
  optional: $dependency.optional
#end
